body {
  background: url(./Assets/image/dayPlanner.jpeg);
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  background-color: rgb(248, 240, 240);
}

.jumbotron {
  text-align: center;
  background-color: rgba(210, 213, 215, 0.762);
  color: #000000;
  border-bottom: 10[px solid black];
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.form-control {
  background-color: #eeeeee;
}

.past {
  background-color: #d3d3d3;
  color: rgb(0, 0, 0);
}

.present {
  background-color: #ff6961;
  color: rgb(0, 0, 0);
}

.future {
  background-color: #77dd77;
  color: rgb(0, 0, 0);
}

.saveBtn i:hover {
  font-size: 20px;
}
.saveBtn {
  background-color: rgba(14, 147, 187, 0.386);
}
